@font-face {
    font-family: 'GenJyuuGothic-P';
    src: url('./fonts/GenJyuuGothic-P-Normal.woff2') format('woff2'),
        url('./fonts/GenJyuuGothic-P-Normal.woff') format('woff');
}

* {
	cursor: auto;
    font-family: GenJyuuGothic-P, sans-serif;
}

body {
    --fz: 18px;
    font-family: GenJyuuGothic-P, sans-serif;
    font-weight: normal;
    font-size: var(--fz);
    line-height: 1;
    background-color: var(--secondary-color);
    min-height: 100vh;
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, b
.h1, .h2, .h3, .h4, .h5 {
    font-size: var(--fz);
}
h1, h2, h3, h4, h5, b, .mark {
    font-weight: bold;
}

h1 {
    --fz: calc(32px - 0.32vw);
}

h2, .h2 {
    --fz: calc(60px - 0.6vw);
}

h3, .h3 {
    --fz: calc(44px - 0.44vw);
}

h4, .h4 {
    --fz: calc(32px - 0.32vw);
}

h5, .h5, b, .mark {
    --fz: calc(24px - 0.24vw);
}

button {
	background-color: transparent;
	border: none;
}

a {
    text-decoration: none;
}

button *,
a * {
    pointer-events: none;
}

.zoomIn {
    --fz: 300px;
    font-size: var(--fz);
}

@media (max-width: 767px) {
    body {
        --fz: 16px;
    }
    
    h1 {
        --fz: 20px;
    }
    
    h2, .h2 {
        --fz: 28px;
    }
    
    h3, .h3 {
        --fz: 24px;
    }
    
    h4, .h4 {
        --fz: 20px;
    }
    
    h5, .h5, b {
        --fz: 18px;
    }

    .zoomIn {
        --fz: 140px
    }
}

.pill {
    border-radius: var(--fz);
}

.badge {
    display: flex;
    margin-top: 8px;
    padding: 0.2em 1.5em;
}

.badge-s {
    padding: 0px 16px;
}

.border {
    border: 2px solid var(--secondary-dark-color);
}

.mark {
    color: var(--heightlight-color);
}
